DOCKER_USER={DOCKER_USER}
DOCKER_PASSWD={DOCKER_PASSWD}
DOCKER_EMAIL={DOCKER_EMAIL}
DREMIO_TF_DIR={DREMIO_TF_DIR}
DREMIO_CONF={DREMIO_CONF}
TLS_PRIVATE_KEY_PATH={TLS_PRIVATE_KEY_PATH}
TLS_CERT_PATH={TLS_CERT_PATH}
AAD_GROUP_NAME={AAD_GROUP_NAME}
AAD_CLIENT_ID={AAD_CLIENT_ID}
AAD_SECRET={AAD_SECRET}
AAD_APP_NAME={AAD_APP_NAME}
AAD_TENANT_ID={AAD_TENANT_ID}
AZURE_SUB_ID={AZURE_SUB_ID}
CLUSTER_NAME={CLUSTER_NAME}
NODE_RESOURCE_GROUP={NODE_RESOURCE_GROUP}
PIP_IP_ADDRESS={PIP_IP_ADDRESS}
EXECUTOR_MEMORY={EXECUTOR_MEMORY}
EXECUTOR_CPU={EXECUTOR_CPU}
EXECUTOR_NODES={EXECUTOR_NODES}
COORDINATOR_MEMORY={COORDINATOR_MEMORY}
COORDINATOR_CPU={COORDINATOR_CPU}
COORDINATOR_NODES={COORDINATOR_NODES}
ZOOKEEPER_MEMORY={ZOOKEEPER_MEMORY}
ZOOKEEPER_CPU={ZOOKEEPER_CPU}
ZOOKEEPER_NODES={ZOOKEEPER_NODES}
SSH_KEY={SSH_KEY}
AZURE_SP=false
REDIRECT_URL={AZURE_SSO_REDIRECT_URL}
TF_STORAGE_ACCOUNT={TF_STORAGE_ACCOUNT}
STORAGE_ACCOUNT={STORAGE_ACCOUNT}
DREMIO_CONTAINER={DREMIO_CONTAINER}
ENV_PREFIX={ENV_PREFIX}
AZURE_RESOURCE_GROUP={AZURE_RESOURCE_GROUP}
DREMIO_IMG={DREMIO_IMG}
DREMIO_VERSION={DREMIO_VERSION}