DOCKER_USER={DOCKER_USER}
DOCKER_PASSWD={DOCKER_PASSWD}
DOCKER_EMAIL={DOCKER_EMAIL}
DREMIO_TF_DIR={DREMIO_TF_DIR}
DREMIO_CONF={DREMIO_CONF}
TLS_PRIVATE_KEY_PATH={TLS_PRIVATE_KEY_PATH}
TLS_CERT_PATH={TLS_CERT_PATH}
AAD_GROUP_NAME={AAD_GROUP_NAME}
AAD_CLIENT_ID={AAD_CLIENT_ID}
AAD_SECRET={AAD_SECRET}
AAD_APP_NAME={AAD_APP_NAME}
AAD_TENANT_ID={AAD_TENANT_ID}
AZURE_SUB_ID={AZURE_SUB_ID}
CLUSTER_NAME={CLUSTER_NAME}
AKS_RESOURCE_GROUP={AKS_RESOURCE_GROUP}
NODE_RESOURCE_GROUP={NODE_RESOURCE_GROUP}
PIP_IP_ADDRESS={PIP_IP_ADDRESS}
EXECUTOR_MEMORY={EXECUTOR_MEMORY}
EXECUTOR_CPU={EXECUTOR_CPU}
COORDINATOR_MEMORY={COORDINATOR_MEMORY}
COORDINATOR_CPU={COORDINATOR_CPU}
ZOOKEEPER_MEMORY={ZOOKEEPER_MEMORY}
ZOOKEEPER_CPU={ZOOKEEPER_CPU}
SSH_KEY={SSH_KEY}