DOCKER_USER=ashleyfarrugia89
DOCKER_PASSWD=Kieran2019!
DOCKER_EMAIL=ashley2k3_89@yahoo.co.uk
DREMIO_TF_DIR=/Users/ashley/PycharmProjects/dremio-azure
DREMIO_CONF=/Users/ashley/PycharmProjects/dremio-cloud-tools/charts
TLS_PRIVATE_KEY_PATH=/Users/ashley/Downloads/20220104/privkey.pem
TLS_CERT_PATH=/Users/ashley/Downloads/20220104/cert.pem
AAD_GROUP_NAME="Field Engineering"
#AAD_CLIENT_ID="61720148-5ac0-401e-bb8b-ccfa2def27b0"
AAD_CLIENT_ID="cae5a743-c5e5-4737-86bd-d7c525fbc332"
#AAD_SECRET="AE97Q~qo_kA_9OSZUAjHY0nEZ1IXXGsMJIT9H"
AAD_SECRET="Np97Q~bhT7-9gzUG-uy8MpLp.w67QqwDQWxJq"
#AAD_APP_NAME="AF_Field_EMEA_DremioAPP"
AAD_APP_NAME="TBC_POC"
AAD_TENANT_ID="3e334762-b0c6-4c36-9faf-93800f0d6c71"
AZURE_SUB_ID="bb6abe79-db4f-4756-9a95-aee3649a3100"
CLUSTER_NAME="AJF_AKS_Cluster"
NODE_RESOURCE_GROUP="MC_AJF_rg_AJF_AKS_Cluster_eastus"
PIP_IP_ADDRESS="52.142.33.62"
EXECUTOR_MEMORY=124000
EXECUTOR_CPU=14
EXECUTOR_NODES=10
EXECUTOR_STORAGE="256Gi"
COORDINATOR_MEMORY=124000
COORDINATOR_CPU=14
ZOOKEEPER_MEMORY=1024
ZOOKEEPER_CPU=0.5
ZOOKEEPER_NODES=3
#SSH_KEY="id_rsa.pub"
AZURE_SP=false
REDIRECT_URL="https://tbc.fieldnarwhal.com/sso"
TF_STORAGE_ACCOUNT='dremiotfstorageaccount'
STORAGE_ACCOUNT='tbcdremiostorageaccount'
DREMIO_CONTAINER='dremiocache'
ENV_PREFIX='TBC_DREMIO_POC'
#AZURE_RESOURCE_GROUP='TBC_rg'
DREMIO_IMG='dremio/dremio-ee'
DREMIO_VERSION='20.1.0'
AUTH_TYPE='ldap'